body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto 150px;
  grid-template-areas: 
    "left-col col1 col2 col3 ferbo mexha"
    "left-col footer footer footer footer footer"
}

.background-image {
  z-index: -10;
  height: 100%;
  position: absolute;
  filter: brightness(70%);
}

#left-col {
  grid-area: left-col;
  border-right: thin solid gray;
}

#col1 {
  position: relative;
  border-right: thin solid gray;
  &::after {
    content: ''; 
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    right: 0;
    bottom: 0;
    transition: width linear 0.8s;
  }

  &.visible {
    &::after {
      width: 0% !important; 
    }
  }
}

#col2 {
  border-right: thin solid gray;
  position: relative;
  &::after {
    content: ''; 
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:  black;
    top: 0;
    right: 0;
    bottom: 0;
    transition: width linear 0.8s;
  }

  &.visible {
    &::after {
      width: 0% !important; 
    }
  }
}

#col3 {
  border-right: thin solid gray;
  background: black;
}

#ferbo {
  border-right: thin solid gray;
  background: black;
  overflow: hidden;
}

#mexha {
  background: black;
  overflow: hidden;
}

.menu {
  display: flex;
  flex-flow: column nowrap;

  .menu-wrapper {
    position: relative;
    left: -100%;
    transition: left 0.5s;
    background: #141414;
    height: 100%;

    &.show {
      left: 0;
    }
  }

  .logo {
    height: 100px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;

    img {
      max-width: 90%;
    }
  }

  ul {
    list-style-type: none;
    text-align: center;
    padding: 0 30px;

    li {
      margin-top: 2em;
      text-transform: uppercase;
      border-bottom: 3px solid white;
      cursor: pointer;
      transition: letter-spacing 0.5s, border-bottom-color 0.5s;

      &:hover {
        border-bottom-color: orange;
        letter-spacing: 3px;
      }
    }
  }
}

footer {
  grid-area: footer;
  border-top: 3px solid white;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  #social {
    width: 60%;
    align-self: flex-end;

    .icons {
      padding: 0 0 5px 15px;

      svg {
        cursor: pointer;

        &:hover {
        fill: orange;
        }
      }
    }
  }

  .menu-button {
    width: 20%;
    z-index: 10;
  }

  #ferbo-toggle {
    img {
      max-height: 80%;
    }
  }

  #mexha-toggle {
    img {
      max-width: 70%;
    }
  }

  #ferbo-toggle, #mexha-toggle {
    width: 130px;
    height: 130px;
    background: black;
    border-radius: 50%;
    margin: auto;
    display: flex;
    cursor: pointer;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    transition: transform .2s ease-in-out;

    &.big, &:hover {
      transform: scale(1.5) translateY(-18%);
    }
  }
}

