$color-black: #000;
$color-dark-grey: #444;
$color-light-grey: #EEE;
$color-grey: #BBB;
$color-white: #FFF;
$color-orange: orange;

$footer-height: 150px;

body {
  background-color: $color-black;
  color: $color-white;
  font-family: Arial, Helvetica, sans-serif;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

button {
  all: unset;
}

.container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto $footer-height;
  &.inside_page {
    #col1, #col2, #col3, #col4 {
      display: none;
    }
    main {
      grid-area: 1/ 1 / 3 / 6
    }
    #col5 {
      grid-area: 1 / 6
    }
    #footer {
      grid-area: 2 / 6
    }
  }

  grid-template-areas: 
    "left-col col1 col2 col3 ferbo mexha"
    "left-col footer footer footer footer footer"
}

.background-image {
  z-index: -10;
  height: 100%;
  position: absolute;
  filter: brightness(70%);
}

main {
  grid-area: left-col;
  border-right: thin solid gray;
}

#content {
  grid-area: 1 / 6;
}

#col1 {
  position: relative;
  border-right: thin solid gray;
  &::after {
    content: ''; 
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $color-black;
    top: 0;
    right: 0;
    bottom: 0;
    transition: width ease 1s;
  }

  &.visible {
    &::after {
      width: 0% !important; 
    }
  }
}

#col2 {
  border-right: thin solid gray;
  position: relative;
  &::after {
    content: ''; 
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:  $color-black;
    top: 0;
    right: 0;
    bottom: 0;
    transition: width ease 1s;
  }

  &.visible {
    &::after {
      width: 0% !important; 
    }
  }
}

#col3 {
  border-right: thin solid gray;
  background: black;
}

#col4 {
  border-right: thin solid gray;
  background: black;
  overflow: hidden;
}

#col5 {
  background: black;
  overflow: hidden;
}

.menu {
  display: flex;
  flex-flow: column nowrap;

  .menu-wrapper {
    position: relative;
    left: -100%;
    transition: left 0.5s;
    background: #141414;
    height: 100%;

    &.show {
      left: 0;
    }
  }

  .logo {
    height: 100px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;

    img {
      max-width: 90%;
    }
  }

  ul {
    list-style-type: none;
    text-align: center;
    padding: 0 30px;

    li {
      margin-top: 2em;
      text-transform: uppercase;
      border-bottom: 3px solid white;
      cursor: pointer;
      transition: letter-spacing 0.5s, border-bottom-color 0.5s;

      &:hover {
        border-bottom-color: $color-orange;
        letter-spacing: 3px;
      }
    }
  }
}

#loading {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100vh;
  z-index: 100;
  overflow: hidden;

  #top-half {
    background-color: purple;
    height: calc(100vh - 150px);
    width: 100%;
    position: relative;
  }

  &.hide {
    #top-half {
      animation-name: slide-top;
      animation-duration: 3s;
      animation-fill-mode: forwards;
    }

    #bottom-half {
      animation-name: slide-bottom;
      animation-duration: 3s;
      animation-fill-mode: forwards;
    }
  }

  #bottom-half {
    height: $footer-height;
    width: 100%;
    background-color: black;
  }
}

@keyframes slide-top {
  from {
    bottom: 0;
  }

  to {
    bottom: calc(100vh - 150px)
  }
}

@keyframes slide-bottom {
  from {
    margin-top: 0;
  }

  to {
    margin-top: $footer-height;
  }
}

#footer {
  grid-area: footer;
  border-top: 3px solid $color-white;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  #social {
    width: 60%;
    align-self: flex-end;

    .icons {
      padding: 0 0 5px 15px;

      > a {
        padding-right: 7px;
      }

      svg, g {
        cursor: pointer;
        fill: $color-grey;

        &:hover {
        fill: $color-light-grey;
        }
      }
    }
  }

  .menu-button {
    width: 20%;
    z-index: 10;

    p {
      font-size: 1.5em;
    }
  }

  #ferbo-toggle {
    img {
      max-height: 80%;
      max-width: 180px;
    }
  }

  #mexha-toggle {
    img {
      max-width: 70%;
    }
  }

  #ferbo-toggle, #mexha-toggle {
    width: 130px;
    height: 130px;
    background: $color-black;
    border-radius: 50%;
    margin: auto;
    display: flex;
    cursor: pointer;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border: 3px solid $color-white;
    transition: transform .2s ease-in-out;

    &.big, &:hover {
      transform: scale(1.5) translateY(-18%);
    }
  }
}

